@{
    ViewData["Title"] = "Home Page";
}
@model dynamic

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Đặt đồ</h1>
    <table id="dataTable">
        <thead>
            <tr>
                <th>Tên sản phẩm</th>
                <th>Loại sản phẩm</th>
                <th>Giá bán</th>
            </tr>
        </thead>
        @foreach (SanPham sanPham in Model.SanPhams){
            <tr>
                <td>@Html.DisplayFor(modelItem => sanPham.TenSanPham)</td>
                @foreach (LoaiSanPham loaiSanPham in Model.LoaiSanPhams){
                    if(sanPham.IdLoaiSanPham == loaiSanPham.Id){
                        <td>@Html.DisplayFor(modelItem => loaiSanPham.TenLoaiSanPham)</td>
                        break;
                    }
                }
                <td>@Html.DisplayFor(modelItem => sanPham.GiaBan)</td>
            </tr>
        }
    </table>
</div>



